.menu-color{
 background-color:hsl(206, 33%, 96%) ;
}
.list-menu{
	list-style: none;
	display: flex;
	justify-content: space-between;
	width: 50%;
	margin: auto;
}
.button-link {
	display: flex;
    
}
.button-link li{
	padding: 0px 5px;
	
}
.theme-color {
	color: #49A6E9;
}
.button-link a{
	text-decoration: none;
	color: #063251;
}
body {
	padding: 0;
	margin: 0;
	font-family: "Open Sans", sans-serif;
	background: hsl(206, 33%, 96%);
	color: hsl(209, 61%, 16%);
}
ul {
	margin: 10px 5px;
	padding: 5px 10px;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 400px;
  align-items: center;
}
h2 {
	letter-spacing: 0.25rem;
    text-transform: capitalize;
    background-color: black;
    padding: 5px 10px;
    color: white;
    font-family: "Roboto", sans-serif;
}
.btn {
	font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  background: transparent;
  color: #222;
  padding: 10px 10px;
  letter-spacing: 0.25rem;
  display: inline-block;
  font-weight: 10;
  transition: all 0.3s linear;
  font-size: 14px;
  border: 1px solid #222;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
}
.btn:hover {
  color: #fff;
  background: #222;
}
.btn-hero {
  font-size: 1rem;
  padding: 0.75rem 1.25rem;
}
.color {
	color: hsl(205, 78%, 60%);
}
